.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    width:1000px;
    height: 600px;
    position: relative;
    background-color: rgba(225, 225, 225, 0.5);
}
.child{
    display: flex;
    
    position: absolute;
    margin: auto;
    width: 400px;
    height: 250px;
    border: 2px soild blanchedalmond;
    background-color: aquamarine;
}