.p{
    background:linear-gradient(45deg,yellow,deeppink);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 30px;
    margin: 50px 100px;
    width: 300px;
}
.rig h2{
    font-size: 30px;
    text-align: center;
}
.rig1 label{
    display: block;
    margin: 10px 0px;
}
.form-control{
    width: 290px;
    font-size: 18px;
    outline: none;
    height: 35px;
    border:none;
    

}
.form-control_1{
    width: 290px;
    font-size: 18px;
    outline: none;
    height: 35px;
    border:none;
    

}
.form-control_2{
    width: 290px;
    font-size: 18px;
    outline: none;
    height: 35px;
    border:none;
    

}
.form-control_3{
    width: 290px;
    font-size: 18px;
    outline: none;
    height: 35px;
    border:none;
    

}
.form-control_4{
    width: 290px;
    font-size: 18px;
    outline: none;
    height: 35px;
    border:none;
    

}
.r{
    margin-top: 10px;
    text-align: center;
    /*text-decoration: none;
    margin: 20px 15px;*/
    color: white;
    padding: 15px;
    background:linear-gradient(45deg,yellow,deeppink);
    /*width: 60px;
    border: none;
    box-shadow: 0 5px 10px black;*/
}
.sub:hover{
    background: linear-gradient(45deg,yellow,deeppink);
}
.container{
    display: flex;
    flex-wrap: wrap;
}